{% extends 'base.html' %}

{% block title %}Анкета{% endblock %}

{% block content %}
<style>
    body {
        font-family: georgia;
        font-size: 18px;
    }
    .contact-bar {
        background-color: #54B6B2;
        color: #000000;
        text-align: center;
        padding: 10px 0;
    }
</style>

<div class="contact-bar">
    <form action="/employee_data" method="POST">
        <br>
        <h3 style="font-family:georgia"><b>Для сотрудников</b></h3>
       <h4 style="font-family:georgia"><b>Преподавание</b></h4>
        <div class="form-group">
            <label for="t1" style="font-family:georgia">Должность</label>
            <select class="form-control" name="teacher_status" id="t1">
                <option>–</option>
                <option>Ассистент</option>
                <option>Младший преподаватель</option>
                <option>Старший преподаватель</option>
                <option>Доцент</option>
            </select>
        </div>
        <div class="form-group">
            <label for="t2" style="font-family:georgia">Год начала преподавания:</label>
            <input type="text" class="form-control" name="teacher_start" id="t2" placeholder="1900">
        </div>
        <div class="form-group">
            <label for="t3" style="font-family:georgia">Год окончания преподавания</label>
            <input type="text" class="form-control" name="teacher_end" id="t3" placeholder="1904">
        </div>
       <br>
       <br>
       <h4 style="font-family:georgia"><b>Администрация</b></h4>
        <div class="form-group">
            <label for="au1" style="font-family:georgia">Должность</label>
             <input type="text" class="form-control" name="authority_status" id="au1" placeholder="Менеждер УО">
        </div>
        <div class="form-group">
            <label for="au2" style="font-family:georgia">Год начала работы в администрации</label>
            <input type="text" class="form-control" name="authority_start" id="au2" placeholder="1900">
        </div>
        <div class="form-group">
            <label for="au3" style="font-family:georgia">Год окончания работы в администрации </label>
            <input type="text" class="form-control" name="authority_end" id="au3" placeholder="1904">
        </div>
       <br>
       <br>
       <h4 style="font-family:georgia"><b>Работа в лаборатории</b></h4>

        <table>
        <thead>
            <tr>
                <th>Название лаборатории</th>
                <th>Должность</th>
                <th>Год начала работы</th>
                <th>Год окончания работы</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>НУЛ по формальным моделям в лингвистике</td>
                <td>
                    <div class="form-group">
<!--                    <label for="p1" style="font-family:georgia">–</label>-->
                    <select class="form-control" name="position_in_1" id="p1">
                        <option>–</option>
                        <option>Стажер-исследователь</option>
                        <option>Руководитель</option>
                    </select>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" name="start_1" id="st1" placeholder="">
                </td>
                <td>
                    <input type="text" class="form-control" name="end_1" id="end1" placeholder="">
                </td>
            </tr>
            <tr>
                <td>НУЛ социогуманитарных исследований Севера и Арктики</td>
                <td>
                    <div class="form-group">
<!--                    <label for="p2" style="font-family:georgia">–</label>-->
                    <select class="form-control" name="position_in_2" id="p2">
                        <option>–</option>
                        <option>Стажер-исследователь</option>
                        <option>Руководитель</option>
                    </select>
                    </div>
                </td>
                 <td>
                    <input type="text" class="form-control" name="start_2" id="st2" placeholder="">
                </td>
                <td>
                    <input type="text" class="form-control" name="end_2" id="end2" placeholder="">
                </td>
            </tr>
        </tbody>
    </table>
        <div class="text-center">
            <button type="submit" class="btn btn-secondary"
             style="background-color: #2F4F4F; font-family:georgia; color:#F9EBC3">Следующая страница</button>
        </div>
    </form>
</div>
{% endblock %}
