{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<style>
    body {
        font-family: georgia;
        font-size: 18px;
    }
    .contact-bar {
        background-color: #F8F32B;
        color: #000000;
        text-align: center;
        padding: 10px 0;
    }
    .form-container {
        background-color: #8D99AE;
        padding: 20px;
        border-radius: 10px;
        margin: 20px auto;
        max-width: 1000px;
    }
    .form-group {
        max-width: 400px;
        margin: 0 auto;
    }
</style>

<div class="contact-bar">
<div class="form-container">
    <h1 style="font-size: 30px">Наши контакты</h1>
    <br>
    <br>
    <h2 style="font-size: 20px"><b>Разработчики</b></h2>
    <p>Анна Луценко: <a href="https://t.me/usmor" style="color: #A9DAD9">@usmor</a></p>
    <p>Дарья Харламова: ссылка на тг с разрешения </p>
    <p>Андрей Якубой: ссылка на тг с разрешения</p>
    <p>???(модератор): ссылка на тг с разрешения</p>
</div></div>

{% endblock %}

