{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<style>
    .section-group {
        background-color: #fbfbf8; /* Цвет фона для контейнера формы */
        padding: 20px; /* Паддинг для контейнера */
        border-radius: 10px; /* Скругление углов */
        margin: 20px auto; /* Центрирование контейнера */
        max-width: 1000px; /* Максимальная ширина контейнера */
    }
</style>

<div class="contact-bar">
<div class="form-container">
    <div class="section-group">
    <h1 style="font-size: 30px">Наши контакты</h1>
    <h2 style="font-size: 20px"><b>Руководитель команды</b></h2>
    <p>Дарья Рыжова: <a href="https://t.me/rydasha" style="color: #7CABB6">@rydasha</a></p>
    <br>
    <h2 style="font-size: 20px"><b>Разработчики</b></h2>
    <p>Анна Луценко: <a href="https://t.me/usmor" style="color:  #7CABB6">@usmor</a></p>
    <p>Дарья Харламова: <a href="https://t.me/zlovoblachko" style="color: #7CABB6">@zlovoblachko</a></p>
    <p>Андрей Якубой: <a href="https://t.me/Futyn019" style="color: #7CABB6">@Futyn019</a></p>
    </div>
</div>
</div>

{% endblock %}

