{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<style>
    .section-group {
        background-color: #fbfbf8; /* Цвет фона для контейнера формы */
        padding: 20px; /* Паддинг для контейнера */
        border-radius: 10px; /* Скругление углов */
        margin: 20px auto; /* Центрирование контейнера */
        max-width: 1000px; /* Максимальная ширина контейнера */
    }
</style>

<div class="contact-bar">
<div class="form-container">
    <div class="section-group">
    <p>В разработке...</p>
    </div>
</div>
</div>

{% endblock %}