{% extends 'base.html' %}

{% block title %}Эмоциональная анкета{% endblock %}

{% block content %}
<style>
    textarea {
        width: 100%;
        padding: 10px;
        margin: 5px 0 15px;
        border: 1px solid #CDDFE3; /* Общий бордер */
        border-radius: 5px;
        font-size: 16px;
        box-sizing: border-box; /* Учитываем бордер и паддинг в ширине */
    }
     table {
        width: 95%;
        border-collapse: collapse;
    }

    td {
        padding: 8px; /* Отступы внутри ячеек */
        vertical-align: top; /* Вертикальное выравнивание содержимого ячеек */
        text-align: center; /* Центрируем содержимое ячейки */
    }
</style>

<div class="contact-bar">
<div class="form-container">
    <form action="/emotion_data_4" method="POST">
        <h1 style="font-family:georgia; font-size: 24px">Здесь можно передать приветы кому-нибудь или чему-нибудь, связывающему вас со ШЛ:</h1>
        <div class="form-group">
            <textarea id="greetings" name="greetings"></textarea>
        </div>
        <div class="text-center">
            <button class="btn btn-secondary" onclick="window.history.back(); return false;">Предыдущая страница</button>
        <button type="submit" class="btn btn-secondary">Закончить анкету</button>
        </div>
    </form>
    </div>
</div>


{% endblock %}