{% extends 'base.html' %}

{% block title %}Анкета{% endblock %}

{% block content %}
<style>
    body {
        font-family: georgia;
        font-size: 18px;
    }
    .contact-bar {
        background-color: #F8F32B;
        color: #000000;
        text-align: center;
        padding: 10px 0;
    }
    .form-container {
        background-color: #8D99AE;
        padding: 20px;
        border-radius: 10px;
        margin: 20px auto;
        max-width: 1000px;
    }
    .form-group {
        max-width: 400px;
        margin: 0 auto;
    }
</style>
<div class="contact-bar">
<div class="form-container">
    <form action="/employee_status" method="POST">
        <h1 style="font-family:georgia; font-size: 24px">Вы работаете/работали в Школе Лингвистики?</h1>
        <br>
        <div class="form-group">
            <select class="form-control" name="employee_status" id="q1">
                <option>Да</option>
                <option>Нет</option>
            </select>
        </div>
        <br>
        <div class="text-center">
            <button type="submit" class="btn btn-secondary"
                 style="background-color: #2B2D42; font-family:georgia; color:#ffffff">Следующая страница</button>
        </div>
    </form>
</div></div>
{% endblock %}