{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<style>
    .section-group {
        background-color: #f4f4f4; /* Цвет фона для контейнера формы */
        padding: 15px; /* Паддинг для контейнера */
        border-radius: 10px; /* Скругление углов */
        margin: 20px auto; /* Центрирование контейнера */
        max-width: 1500px; /* Максимальная ширина контейнера */
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    td {
        padding: 8px; /* Отступы внутри ячеек */
        vertical-align: top; /* Вертикальное выравнивание содержимого ячеек */
        border-right: 2px solid #CDDFE3; /* Вертикальная граница между столбцами */
        text-align: center; /* Центрируем содержимое ячейки */
    }

    td:last-child {
        border-right: none; /* Убирает границу у последнего столбца */
    }

    img {
        max-width: 95%; /* Устанавливаем максимальную ширину для изображения */
        height: auto; /* Высота подстраивается автоматически */
        border-radius: 10px; /* Скругление углов изображения (опционально) */
    }

    .icon-person {
        font-size: 40px; /* Размер значка обычно */
        display: block; /* Отображение в блоке */
        margin: 10px 0; /* Отступы сверху и снизу */
    }

    h2 {
        font-size: 25px; /* Размер заголовка */
        margin: 10px 0; /* Отступы сверху и снизу */
    }

    p {
        font-size: 18px; /* Размер текста */
        margin: 5px 0; /* Отступы сверху и снизу */
    }

    hr {
        border: 1px solid #CDDFE3; /* Цвет разделителя */
        margin: 20px 0; /* Отступы сверху и снизу */
    }
</style>

<table>
    <tr>
        <td style="width: 60%">
            <img src="{{url_for('static', filename='letter.png')}}" alt="ШЛ" />
        </td>
        <td style="width: 40%">
            <br><br><br><br><br>
            <p class="icon-person">&#128100;</p>
            <h2>Люди ШЛ</h2>
            <p>— это что-то вроде переписи населения.</p>
            <p>В этой анкете вы сможете рассказать о том, какой путь проделали в Школе лингвистики. Там же есть форма для загрузки фотографий, на случай если у вас сохранилось что-то интересное, чем вы готовы поделиться.</p>
            <a href="/person" class="btn">Перейти к анкете</a>
            <br><br><br>
            <hr>
            <br>
            <p class="icon-person">&#128524;</p>
            <h2>Эмоциональная анкета</h2>
            <p>В этой анкете вас ждут вопросы про яркие воспоминания и ассоциации, связанные со Школой лингвистики.</p>
            <a href="/emotion" class="btn">Перейти к анкете</a>
        </td>
    </tr>
</table>

{% endblock %}