{% extends 'base.html' %}

{% block title %}Анкета{% endblock %}

{% block content %}

<div class="contact-bar">
    <div class="form-container">
    <form action="/management_data" method="POST">
        <div class="form-group">
            <label>В какой институции Вы занимаете/занимали административную должность?</label>
            <table style="width: 100%; border-collapse: collapse; font-size: 18px">
                <tr>
                    <td style="width: 10%; border: none; text-align: center;">
                        <label>
                            <input type="checkbox" id="fikl" name="institution" value="Фундаментальная и компьютерная лингвистика">
                        </label>
                    </td>
                    <td style="border: none;">
                        Фундаментальная и компьютерная лингвистика
                    </td>
                </tr>
                <tr>
                    <td style="width: 10%; border: none; text-align: center;">
                        <label>
                            <input type="checkbox" id="comp_ling" name="institution" value="Компьютерная лингвистика">
                        </label>
                    </td>
                    <td style="border: none;">
                        Компьютерная лингвистика
                    </td>
                </tr>
                <tr>
                    <td style="width: 10%; border: none; text-align: center;">
                        <label>
                            <input type="checkbox" id="theory_ling" name="institution" value="Лингвистическая теория и описание языка">
                        </label>
                    </td>
                    <td style="border: none;">
                        Лингвистическая теория и описание языка
                    </td>
                </tr>
                <tr>
                    <td style="width: 10%; border: none; text-align: center;">
                        <label>
                            <input type="checkbox" id="rki" name="institution" value="Русский как иностранный во взаимодействии языков и культур">
                        </label>
                    </td>
                    <td style="border: none;">
                        Русский как иностранный во взаимодействии языков и культур
                    </td>
                </tr>
                <tr>
                    <td style="width: 10%; border: none; text-align: center;">
                        <label>
                            <input type="checkbox" id="digital" name="institution" value="Цифровые методы в гуманитарных науках">
                        </label>
                    </td>
                    <td style="border: none;">
                        Цифровые методы в гуманитарных науках
                    </td>
                </tr>
                <tr>
                    <td style="width: 10%; border: none; text-align: center;">
                        <label>
                            <input type="checkbox" id="phd" name="institution" value="Аспирантская школа по филологическим наукам">
                        </label>
                    </td>
                    <td style="border: none;">
                        Аспирантская школа по филологическим наукам
                    </td>
                </tr>
                <tr>
                    <td style="width: 10%; border: none; text-align: center;">
                        <label>
                            <input type="checkbox" id="comp_ling_dpo" name="institution" value="Компьютерная лингвистика (ДПО)">
                        </label>
                    </td>
                    <td style="border: none;">
                        Компьютерная лингвистика (ДПО)
                    </td>
                </tr>
                <tr>
                    <td style="width: 10%; border: none; text-align: center;">
                        <label>
                            <input type="checkbox" id="rki_dpo" name="institution" value="Методика преподавания русского языка как иностранного (ДПО)">
                        </label>
                    </td>
                    <td style="border: none;">
                        Методика преподавания русского языка как иностранного (ДПО)
                    </td>
                </tr>
                <tr>
                    <td style="width: 10%; border: none; text-align: center;">
                        <label>
                            <input type="checkbox" id="python" name="institution" value="Введение в Python для Digital Humanities (ДПО)">
                        </label>
                    </td>
                    <td style="border: none;">
                        Введение в Python для Digital Humanities (ДПО)
                    </td>
                </tr>
                <tr>
                    <td style="width: 10%; border: none; text-align: center;">
                        <label>
                            <input type="checkbox" id="R" name="institution" value="Введение в анализ данных на R (ДПО)">
                        </label>
                    </td>
                    <td style="border: none;">
                        Введение в анализ данных на R (ДПО)
                    </td>
                </tr>
                <tr>
                    <td style="width: 10%; border: none; text-align: center;">
                        <label>
                            <input type="checkbox" id="rus" name="institution" value="Национальный корпус русского языка на уроках словесности в школе. Русский язык (ДПО)">
                        </label>
                    </td>
                    <td style="border: none;">
                        Национальный корпус русского языка на уроках словесности в школе. Русский язык (ДПО)
                    </td>
                </tr>
                <tr>
                        <td style="width: 10%; border: none; text-align: center;">
                            <label>
                                <input type="checkbox" id="convergence" name="institution" value="Международная лаборатория языковой конвергенции">
                            </label>
                        </td>
                        <td style="border: none;">
                            Международная лаборатория языковой конвергенции
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; border: none; text-align: center;">
                            <label>
                                <input type="checkbox" id="corpura" name="institution" value="Лингвистическая лаборатория по корпусным технологиям">
                            </label>
                        </td>
                        <td style="border: none;">
                            Лингвистическая лаборатория по корпусным технологиям
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; border: none; text-align: center;">
                            <label>
                                <input type="checkbox" id="formal" name="institution" value="Лаборатория по формальным моделям в лингвистике">
                            </label>
                        </td>
                        <td style="border: none;">
                            Лаборатория по формальным моделям в лингвистике
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; border: none; text-align: center;">
                            <label>
                                <input type="checkbox" id="caucas" name="institution" value="Лаборатория языков Кавказа">
                            </label>
                        </td>
                        <td style="border: none;">
                            Лаборатория языков Кавказа
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; border: none; text-align: center;">
                            <label>
                                <input type="checkbox" id="north" name="institution" value="Лаборатория социогуманитарных исследований Севера и Арктики">
                            </label>
                        </td>
                        <td style="border: none;">
                            Лаборатория социогуманитарных исследований Севера и Арктики
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; border: none; text-align: center;">
                            <label>
                                <input type="checkbox" id="education_corpura" name="institution" value="Научно-учебная лаборатория учебных корпусов">
                            </label>
                        </td>
                        <td style="border: none;">
                           Научно-учебная лаборатория учебных корпусов
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; border: none; text-align: center;">
                            <label>
                                <input type="checkbox" id="rki_centre" name="institution" value="Центр «Русский как иностранный»">
                            </label>
                        </td>
                        <td style="border: none;">
                            Центр «Русский как иностранный»
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; border: none; text-align: center;">
                            <label>
                                <input type="checkbox" id="language_brain" name="institution" value="Центр языка и мозга">
                            </label>
                        </td>
                        <td style="border: none;">
                            Центр языка и мозга
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; border: none; text-align: center;">
                            <label>
                                <input type="checkbox" id="dh" name="institution" value="DH центр">
                            </label>
                        </td>
                        <td style="border: none;">
                            DH центр
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; border: none; text-align: center;">
                            <label>
                                <input type="checkbox" id="other" name="institution" value="Другое" onclick="toggleOtherInput(this)">
                            </label>
                        </td>
                        <td style="border: none;">
                            <b>Другое</b>
                        </td>
                    </tr>
                    <tr id="otherInputRow" style="display: none;">
                        <td style="border: none;" colspan="2">
                            <input type="text" id="otherInstitution" name="other_institution" placeholder="Укажите другую институцию" style="width: 100%;">
                        </td>
                    </tr>
            </table>
        </div>
        <div class="form-group">
            <label for="management_start_year" style="font-family:georgia">Год начала работы:</label>
            <input type="text" class="form-control" name="management_start_year" id="management_start_year" placeholder="1900">
        </div>
        <div class="form-group">
            <label for="management_end_year" style="font-family:georgia">Год окончания работы:</label>
            <input type="text" class="form-control" name="management_end_year" id="management_end_year" placeholder="1904">
        </div>
        <div class="text-center">
            <button class="btn btn-secondary" onclick="window.history.back(); return false;">Предыдущая страница</button>
            <button type="submit" class="btn">Следующая страница</button>
        </div>
    </form>
    <br>
    </div></div>
<script>
    function toggleOtherInput(checkbox) {
        var otherInputRow = document.getElementById('otherInputRow');

        if (checkbox.checked) {
            otherInputRow.style.display = 'table-row';
        } else {
            otherInputRow.style.display = 'none';
            document.getElementById('otherInstitution').value = '';
        }
    }
</script>
{% endblock %}