{% extends 'base.html' %}

{% block title %}Анкета{% endblock %}

{% block content %}

<div class="contact-bar">
    <div class="form-container">
        <form action="/master_data" method="POST">
            <h1 style="font-family:georgia">Магистратура</h1>
            <div id="sections-container">
                <div class="section">
                    <div class="form-group">
                        <label for="master_program_1" style="font-family:georgia">Ваша программа в магистратуре:</label>
                        <select class="form-control" name="master_program_1" id="master_program_1">
                            <option value="">-- Выберите программу --</option>
                            <option>Компьютерная лингвистика</option>
                            <option>Цифровые методы в гуманитарных науках</option>
                            <option>Лингвистическая теория и описание языка</option>
                            <option>Русский как иностранный во взаимодействии языков и культур</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="master_start_year_1" style="font-family:georgia">Год начала обучения в
                            магистратуре:</label>
                        <input type="text" class="form-control" name="master_start_year_1" id="master_start_year_1"
                            placeholder="1900">
                    </div>
                    <div class="form-group">
                        <label for="master_end_year_1" style="font-family:georgia">Год окончания обучения в
                            магистратуре:</label>
                        <p><i>если обучаетесь сейчас, поставьте прочерк (-)</i></p>
                        <input type="text" class="form-control" name="master_end_year_1" id="master_end_year_1"
                            placeholder="1904">
                    </div>
                    <div class="form-group">
                        <label for="master_curator_1" style="font-family:georgia">ФИО научного руководителя дипломной
                            работы:</label>
                        <input type="text" class="form-control" name="master_curator_1" id="master_curator_1"
                            placeholder="Петров Петр Петрович">
                    </div>
                    <button type="button" class="btn" onclick="removeSection(this)">Удалить магистратуру</button>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-secondary" onclick="window.history.back(); return false;">Предыдущая
                    страница</button>
                <button type="button" class="btn" onclick="addSection()">Добавить магистратуру</button>
                <button type="submit" class="btn">Следующая страница</button>
            </div>
        </form>
        <br>
    </div>
</div>

<script>
    let sectionCount = 1;

    function addSection() {
        sectionCount++;
        const container = document.getElementById('sections-container');
        const sectionHTML = `
            <div class="section">
                <div class="form-group">
                    <label for="master_program_${sectionCount}" style="font-family:georgia">Ваша программа в магистратуре:</label>
                    <select class="form-control" name="master_program_${sectionCount}" id="master_program_${sectionCount}">
                        <option>–</option>
                        <option>Компьютерная лингвистика</option>
                        <option>Цифровые методы в гуманитарных науках</option>
                        <option>Лингвистическая теория и описание языка</option>
                        <option>Русский как иностранный во взаимодействии языков и культур</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="master_start_year_${sectionCount}" style="font-family:georgia">Год начала обучения в магистратуре:</label>
                    <input type="text" class="form-control" name="master_start_year_${sectionCount}" id="master_start_year_${sectionCount}" placeholder="1900">
                </div>
                <div class="form-group">
                    <label for="master_end_year_${sectionCount}" style="font-family:georgia">Год окончания обучения в магистратуре:</label>
                    <p><i>если обучаетесь сейчас, поставьте прочерк (-)</i></p>
                    <input type="text" class="form-control" name="master_end_year_${sectionCount}" id="master_end_year_${sectionCount}" placeholder="1904">
                </div>
                <div class="form-group">
                    <label for="master_curator_${sectionCount}" style="font-family:georgia">ФИО научного руководителя дипломной работы:</label>
                    <input type="text" class="form-control" name="master_curator_${sectionCount}" id="master_curator_${sectionCount}" placeholder="Петров Петр Петрович">
                </div>
                <button type="button" class="btn" onclick="removeSection(this)">Удалить магистратуру</button>
            </div>
        `;
        container.insertAdjacentHTML('beforeend', sectionHTML);
    }

    function removeSection(button) {
        const section = button.parentElement; // Найти родительский элемент (раздел)
        section.remove(); // Удалить раздел
    }
</script>
{% endblock %}
