{% extends 'base.html' %}

{% block title %}Анкета{% endblock %}

{% block content %}

<div class="contact-bar">
    <div class="form-container">
    <form action="/phd_data" method="POST">
        <h1 style="font-family:georgia">Аспирантура</h1>
        <div id="sections-container">
            <div class="section">
                <div class="form-group">
                    <label for="phd_start_year_1" style="font-family:georgia">Год начала обучения в <b>аспирантской школе по филологическим наукам</b>:</label>
                    <input type="text" class="form-control" name="phd_start_year_1" id="phd_start_year_1" placeholder="1900">
                </div>
                <div class="form-group">
                    <label for="phd_end_year_1" style="font-family:georgia">Год окончания обучения в <b>аспирантской школе по филологическим наукам</b>:</label>
                    <input type="text" class="form-control" name="phd_end_year_1" id="phd_end_year_1" placeholder="1904">
                </div>
                <div class="form-group">
                    <label for="phd_curator_1" style="font-family:georgia">ФИО научного руководителя кандидатской диссертации:</label>
                    <input type="text" class="form-control" name="phd_curator_1" id="phd_curator_1" placeholder="Петров Петр Петрович">
                </div>
                <button type="button" class="btn" onclick="removeSection(this)">Удалить аспирантуру</button>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-secondary" onclick="window.history.back(); return false;">Предыдущая страница</button>
            <button type="button" class="btn" onclick="addSection()">Добавить аспирантуру</button>
            <button type="submit" class="btn">Следующая страница</button>
        </div>
    </form>
    <br>
    </div>
</div>

<script>
    let sectionCount = 1;

    function addSection() {
        sectionCount++;
        const container = document.getElementById('sections-container');
        const sectionHTML = `
            <div class="section">
                <div class="form-group">
                    <label for="phd_start_year_${sectionCount}" style="font-family:georgia">Год начала обучения в <b>аспирантской школе по филологическим наукам</b>:</label>
                    <input type="text" class="form-control" name="phd_start_year_${sectionCount}" id="phd_start_year_${sectionCount}" placeholder="1900">
                </div>
                <div class="form-group">
                    <label for="phd_end_year_${sectionCount}" style="font-family:georgia">Год окончания обучения в <b>аспирантской школе по филологическим наукам</b>:</label>
                    <input type="text" class="form-control" name="phd_end_year_${sectionCount}" id="phd_end_year_${sectionCount}" placeholder="1904">
                </div>
                <div class="form-group">
                    <label for="phd_curator_${sectionCount}" style="font-family:georgia">ФИО научного руководителя кандидатской диссертации:</label>
                    <input type="text" class="form-control" name="phd_curator_${sectionCount}" id="phd_curator_${sectionCount}" placeholder="Петров Петр Петрович">
                </div>
                <button type="button" class="btn" onclick="removeSection(this)">Удалить аспирантуру</button>
            </div>
        `;
        container.insertAdjacentHTML('beforeend', sectionHTML);
    }

    function removeSection(button) {
        const section = button.parentElement; // Найти родительский элемент (раздел)
        section.remove(); // Удалить раздел из DOM
    }
</script>
{% endblock %}