{% extends 'base.html' %}

{% block title %}Анкета{% endblock %}

{% block content %}

<div class="contact-bar">
    <div class="form-container">
    <form action="/research_data" method="POST">
                <div class="form-group">
                <label>В каких лабораториях Вы работаете/работали?</label>
                <table style="width: 100%; border-collapse: collapse; font-size: 18px">
                    <tr>
                        <td style="width: 10%; border: none; text-align: center;">
                            <label>
                                <input type="checkbox" id="convergence" name="research_groups" value="Международная лаборатория языковой конвергенции">
                            </label>
                        </td>
                        <td style="border: none;">
                            Международная лаборатория языковой конвергенции
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; border: none; text-align: center;">
                            <label>
                                <input type="checkbox" id="corpura" name="research_groups" value="Лингвистическая лаборатория по корпусным технологиям">
                            </label>
                        </td>
                        <td style="border: none;">
                            Лингвистическая лаборатория по корпусным технологиям
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; border: none; text-align: center;">
                            <label>
                                <input type="checkbox" id="formal" name="research_groups" value="Лаборатория по формальным моделям в лингвистике">
                            </label>
                        </td>
                        <td style="border: none;">
                            Лаборатория по формальным моделям в лингвистике
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; border: none; text-align: center;">
                            <label>
                                <input type="checkbox" id="caucas" name="research_groups" value="Лаборатория языков Кавказа">
                            </label>
                        </td>
                        <td style="border: none;">
                            Лаборатория языков Кавказа
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; border: none; text-align: center;">
                            <label>
                                <input type="checkbox" id="north" name="research_groups" value="Лаборатория социогуманитарных исследований Севера и Арктики">
                            </label>
                        </td>
                        <td style="border: none;">
                            Лаборатория социогуманитарных исследований Севера и Арктики
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; border: none; text-align: center;">
                            <label>
                                <input type="checkbox" id="education_corpura" name="research_groups" value="Научно-учебная лаборатория учебных корпусов">
                            </label>
                        </td>
                        <td style="border: none;">
                           Научно-учебная лаборатория учебных корпусов
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; border: none; text-align: center;">
                            <label>
                                <input type="checkbox" id="rki_centre" name="research_groups" value="Центр «Русский как иностранный»">
                            </label>
                        </td>
                        <td style="border: none;">
                            Центр «Русский как иностранный»
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; border: none; text-align: center;">
                            <label>
                                <input type="checkbox" id="language_brain" name="research_groups" value="Центр языка и мозга">
                            </label>
                        </td>
                        <td style="border: none;">
                            Центр языка и мозга
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; border: none; text-align: center;">
                            <label>
                                <input type="checkbox" id="dh" name="research_groups" value="DH центр">
                            </label>
                        </td>
                        <td style="border: none;">
                            DH центр
                        </td>
                    </tr>
                </table>
            </div>
                <div class="form-group">
                    <label for="research_start_year" style="font-family:georgia">Год начала работы:</label>
                    <input type="text" class="form-control" name="research_start_year" id="research_start_year" placeholder="1900">
                </div>
                <div class="form-group">
                    <label for="research_end_year" style="font-family:georgia">Год окончания работы:</label>
                    <input type="text" class="form-control" name="research_end_year" id="research_end_year" placeholder="1904">
                </div>
        <div class="text-center">
            <button type="submit" class="btn">Следующая страница</button>
        </div>
    </form>
    <br>
    </div>
</div>


{% endblock %}