{% extends 'base.html' %}

{% block title %}Люди ШЛ{% endblock %}

{% block content %}
<style>
    label {
        margin: 10px 0;
        display: block;
        font-weight: bold;
    }

    /* Общий стиль для всех полей ввода */
    input[type="url"],
    input[type="text"],
    textarea {
        width: 100%;
        padding: 10px;
        margin: 5px 0 15px;
        border: 1px solid #CDDFE3; /* Общий бордер */
        border-radius: 5px;
        font-size: 16px;
        box-sizing: border-box; /* Учитываем бордер и паддинг в ширине */
    }

    input[type="radio"] {
        margin-right: 10px;
    }

    .conditional {
        display: none;
        margin-top: 18px;
        padding: 10px;
        border-radius: 5px;
        background-color: #fbfbf8;
    }

    .conditional h3 {
        margin-top: 0;
    }

    .text-center {
        text-align: center;
    }
</style>
<script>
    function toggleFields(selection) {
        const shareNowFields = document.getElementById('share-now-fields');
        const contactLaterFields = document.getElementById('contact-later-fields');

        if (selection === 'Поделюсь сейчас') {
            shareNowFields.style.display = 'block';
            contactLaterFields.style.display = 'none';
        } else if (selection === 'Свяжитесь со мной позже') {
            shareNowFields.style.display = 'none';
            contactLaterFields.style.display = 'block';
        } else {
            shareNowFields.style.display = 'none';
            contactLaterFields.style.display = 'none';
        }
    }
</script>

<div class="contact-bar">
    <div class="form-container">
        <form action="/stories_data" method="POST">
            <h1>Ваши воспоминания</h1>
            <label>
                <input type="radio" name="response" value="Поделюсь сейчас" onclick="toggleFields(this.value)">
                Поделюсь сейчас
            </label>
            <label>
                <input type="radio" name="response" value="Свяжитесь со мной позже" onclick="toggleFields(this.value)">
                Свяжитесь со мной позже
            </label>

            <div id="share-now-fields" class="conditional" style="display: none;">
                <div class="section">
                <h3 style="font-size: 20px">Добавьте всю необходимую информацию</h3>
                <label for="story">Ваше воспоминание / история:</label>
                <p><i>(можно оставить ссылку на документ)</i></p>
                <textarea id="story" name="story" rows="4" placeholder="Введите текст"></textarea>
                </div></div>

            <div id="contact-later-fields" class="conditional" style="display: none;">
                <div class="section">
                <h3 style="font-size: 20px">Как Вы предпочитаете, чтобы с Вами связались?</h3>
                <label>
                    <input type="radio" name="contact-method" value="По тому адресу, который был указан мною ранее">
                    По тому адресу, который был указан мною ранее
                </label>
                <label>
                    <input type="radio" name="contact-method" value="Указать новый адрес" onclick="document.getElementById('new-address').style.display='block';">
                    Указать новый адрес
                </label>
                <div id="new-address" class="conditional" style="display: none; background-color: #ffffff">
                    <label for="new_address">Новый адрес:</label>
                    <input type="text" id="new_address" name="new_address" placeholder="Введите новый адрес">
                </div></div>
            </div>

            <br>
            <div class="text-center">
                <button class="btn btn-secondary" onclick="window.history.back(); return false;">Предыдущая страница</button>
                <button type="submit" class="btn btn-secondary">Следующая страница</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

