{% extends 'base.html' %}

{% block title %}Анкета{% endblock %}

{% block content %}

<div class="contact-bar">
<div class="form-container">
    <form action="/teaching_status" method="POST">
        <h1 style="font-family:georgia; font-size: 24px">Вы преподаете/преподавали в Школе Лингвистики?</h1>
        <br>
        <div class="form-group">
            <select class="form-control" name="teaching_status" id="q1">
                <option>Да</option>
                <option>Нет</option>
            </select>
        </div>
        <br>
        <div class="text-center">
            <button type="submit" class="btn btn-secondary">Следующая страница</button>
        </div>
    </form>
</div></div>
{% endblock %}