{% extends 'base.html' %}

{% block title %}Люди ШЛ{% endblock %}

{% block content %}

<div class="contact-bar">
<div class="form-container">
    <form action="/what_shl_is" method="POST">
        <h1 style="font-family:georgia; font-size: 24px">Что для Вас Школа лингвистики?</h1>
        <br>
        <div class="form-group">
            <textarea class="form-control" name="answer" id="what_shl_is"></textarea>
        </div>
        <br>
        <div class="text-center">
            <button class="btn btn-secondary" onclick="window.history.back(); return false;">Предыдущая страница</button>
            <button type="submit" class="btn btn-secondary">Закончить анкету</button>
        </div>
    </form>
</div></div>
{% endblock %}